@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('./fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}


@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/opensans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('./fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('./fonts/opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('./fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('./fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-lightitalic-webfont.woff') format('woff2'),
         url('./fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: lightitalic;
    font-style: italic;

}


@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-light-webfont.woff2') format('woff2'),
         url('./fonts/opensans-light-webfont.woff') format('woff');
    font-weight: light;
    font-style: normal;
}


@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('./fonts/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('./fonts/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

 * {
    box-sizing: border-box;
 }

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: "open sans", helvetica, sans-serif;
    background:#17191C;
    color:#FFFFFF;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
   
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
}

.wrapper {
display: flex;
flex-direction: column;
min-height: 100%;
overflow: hidden;
min-width: 1200px;
}

.main-page-wrapper {
    background: url("../img/nbgB77C1HAg\ 1\ \(1\).png") center top 0px no-repeat, url("../img/56278948-888x544\ 2.png") right bottom 150px no-repeat;
}

.wrapper__content {
    width: 1140px;
    margin: 0 auto; 
}

.header {
    margin-bottom: 112px;
    padding-top: 24px;
 }

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    margin-right: 35px;
}

.menu {
    text-decoration: none;
}

.menu__list {
    display: flex;
}

.menu__item {
    margin-right: 70px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
}

.menu__link:hover {
    color:#8F00FF;
}

.contacts {
    text-align: right;
    font-style: normal;
}

.contacts__phone {
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__chart {
    font-size: 13px;
    text-decoration: underline;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hello {
    min-height: 484px;
    width: 600px;
    max-width: 100%;
}

.hello__container {
    width: 100%;
}

 .helo__title {
       font-size: 60px;
       font-weight: bold;
       line-height: 1.1;
       margin-bottom: 18px;
   }

   .hello__text {
       font-size: 21px;
       margin-bottom: 74px;
   }

   .buttom {
       border-radius: 4px;
       font-weight: bold;
       text-transform: uppercase;
         padding: 17px 39px;
       font-size: 14px;
       border: 1px solid transparent;
   }

   .buttom--main {
       background: #8F00FF;
       border-color:#8F00FF;
   }

   .offers {
       margin-bottom: 121px;
   }

   .title {
       font-size: 36px;
       font-weight: bold;
       margin-bottom: 45px;
       display: flex;
       align-items: center;
   }
   
   .title__new:after {
       content: "" ;
       background-image: url(../img/Vector.png);
       height: 42px;
       width: 42px;
       margin-left: 13px; 
   }

   .offers__list {
       display: flex;
       justify-content: space-between;
   }

   .offers__item {
       min-height: 449px;
       border-radius: 4px;
       width: calc(100% / 3 - 20px);
       background: #fff;
       color:#303030;
       display: flex;
       flex-direction: column;
   }

   .offers__item:last-child {
       margin-right: 0;
   }

   .offers__header {
       height: 144px;
   }

   .offers__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
   }

   .offers__content {
       padding: 19px 24px;
   }

   .offers__title {
       font-size: 24px;
       font-weight: bold;
       margin-bottom: 19px;
   }

   .offers__features {
       margin-bottom: 20px;
       display: flex;
       justify-content: space-between;
   }

   .offers__feature {
       display: flex;
       align-items: center;
   }

    .offers__feature:last-child {
       margin-right: 0;
   }

    .offers__feature-text {
        color: #666666;
        margin-left: 5px;
    }

    .offers__text {
        font-size: 14px;
        margin-bottom: 31px;
    }

    .buttom--light {
        padding: 17px 28px;
        color: #8F00FF; 
        border-color: #8F00FF;
    }

    .buttom--light:hover {
        border-color:#8F00FF;
        background: #8F00FF;
         color: #fff;
    }

    .buttom--light--active {
        padding: 17px 28px;
        background: #8F00FF; 
        border-color:transparent;
        color: #ffffff;
    }

    .events__list {
        margin-bottom: 57px;
        display: flex;
        justify-content: space-between;
    }

    .events__item {
        width: 555px;
    }

    
    .single-events {
        position: relative;
        border-radius: 4px;
    }

    .single-events__content{
        position: absolute;
        left: 29px;
        right: 13px;
        bottom: 0;
        min-height: 140px;
    }

    .single-events__text {
        font-size: 14px;
    }

    .single-events__title {
        font-size: 24px;
        font-weight: bold;
    }

    .single-events__element {
        margin-bottom: 0;
    }

    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pager {
        color: #000;
    }

    .pager .pagination__item--active .pagination__number {
        color: #fff;
        background: #8F00FF;
    }

    .pager .pagination__number:hover {
        color: #fff;
        background: #8F00FF;
    }

    .pagination__list {
      display: flex;
      align-items: center;
    }

    .pagination__info {
        margin-right: 21px;
    }

    .pagination__item {
       text-align: center;
    }

    .pagination__item--active .pagination__number {
        background: #8F00FF;
    }

    .pagination__number {
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        text-decoration: none;
        font-weight: bold;
        line-height: 32px;
    }

    .story {
        margin-bottom: 63px;
    }
    .story__about {
        display: flex;
    }


    .story__about:before {
        display: block;
        margin-top: 36px;
        content: "";
        width: 489px;
        height: 505px;
        background: url(../img/kviz_pliz__nizhnii_novgorod_1_qg_large\ 1.png) center center / cover no-repeat;
    }

    .story__info {
        content: "";
        background: url(../img/Rectangle\ 10.png);
        max-width: 785px;
        height: 452px;
        padding: 71px 78px;
        margin-left: -139px;
        margin-top: 130px;
    }

    .story__title {
        font-weight: bold;
        font-size: 36px;
        margin-bottom: 40px;
    }

    .story__text {
        margin-bottom: 86px;
    }

    .story__text p {
        margin-bottom: 20px;
    }

    .story_text p:last-child {
        margin-bottom: 0;
    }

    .buttom--story{
        border-color: #fff;
    }

    .footer {
        width: 1150px;
        margin: 0 auto; 
        height: 80px;
    }

    .footer-section {
        border-top: 1px solid #ffffff;
    }

    .footer__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
    }

    .socials {
        display: flex;
    }

    .contacts__elements {
    color:#9A9A9A;
    font-size: 11px;
    }

    .contacts__element {
        font-size: 26px;
    }

    .socials__link {
        display: block;
        width: 36px;
    }

    .socials__item {
        margin-right: 8px;
    }

    .socials__item:last-child{
        margin-right: 0;
    }


    /* services page  */
/* тут закончил расформирование по файлам */
    .page-wrapper {
         background: url("../img/nbgB77C1HAg\ 1\ \(1\).png") center top 0px no-repeat; /* #F2F2F2 url("") right bottom 50px no-repeat; */
    }

    .top-line {
        min-height: 415px;
        display: flex;
        flex-direction: column;
        padding-bottom: 26px;
    }

     .top-container { 
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } 

    .page-title {
        font-size: 72px;
        font-weight: bold;
        line-height: 1;
        margin-bottom: 96px;
    }

    .breadcrumbs {
        margin-bottom: 18px;
    }

    .breadcrumbs__list {
        display: flex;
        align-items: center;
    }

    .breadcrumbs__item {
        display: flex;
        align-items: center;
    }

    .breadcrumbs__item--active .breadcrumbs__link {
        font-weight: bold;
    }

    .breadcrumbs__item::after {
        content: "/";
        color: #9A9A9A;
        padding: 3.5px;
    }

    .breadcrumbs__item:last-child::after {
        display: none;
    }

    .breadcrumbs__link {
        color: #9A9A9A;
        font-size: 14px;
    }

    .page-content {
        background: #F2F2F2;
        color: #303030;
        padding: 40px 0;
    }

    .services {
        margin-bottom: 106px;
    }

    .service {
        display: flex;
        margin-bottom: 47px;
    } 
    
    .service__img {
        width: 40%;
        margin-right: 7%;
        flex-shrink: 0;
    }

    .service__img-elem {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 4px;
    }

    .service__content {
        flex: 1;
    }

    .service__title {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #000;
    }

    .service__desc {
        line-height: 27px;
        margin-bottom: 49px;
        max-width: 627px;     /* test*/
    }

    .buttom--light--length {
        padding: 17px 40px;
        color: #8F00FF; 
        border-color: #8F00FF;
    }

    .buttom--light--length--active {
        padding: 17px 40px;
    }

    

    .inner-section {
        background: #F4F5F5;
        color: #1A1B1E;
        padding: 88px 0;
        margin-bottom: 62px;
    }

    .inner-section__title {
        font-size: 48px;
        line-height: 65px;
        font-weight: bold;
        margin-bottom: 80px;
    }

    .partners {
        display: flex;
        flex-wrap: wrap;
    }

    .partners__item {
        margin-left: 46px;
    }

    .partners__item:nth-child( 4n + 1 ) {
        margin-left: 0;
    }

    .partners__link {
        display: flex;
        width: 250px;
        height: 100px;
        align-items: center;
        justify-content: center;
        filter: grayscale(100%);
    }

    .partners__link:hover {
        filter: grayscale(0);
    }