@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('./fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: bold;/*700*/
    font-style: normal;

}


@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/opensans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}


@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('./fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('./fonts/opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('./fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('./fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-lightitalic-webfont.woff') format('woff2'),
         url('./fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}


@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-light-webfont.woff2') format('woff2'),
         url('./fonts/opensans-light-webfont.woff') format('woff');
    font-weight: light;/*300*/
    font-style: normal;

}


@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('./fonts/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('./fonts/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: "open sans", helvetica, sans-serif;
    background:#17191C;
    color:#FFFFFF;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
   
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

.main-page-wrapper {
    background: url("./img/nbgB77C1HAg\ 1\ \(1\).png") center top 0px no-repeat, url("./img/56278948-888x544\ 2.png") right bottom 150px no-repeat;
}

.wrapper__content {
    width: 1140px;
    margin: 0 auto; 
}

.header {
    /* min-height: 125px;
    position: relative; */
    margin-bottom: 112px;
    padding-top: 30px;
 }

.header__container {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    /* position: absolute; */
    /* top: 61px; */
    margin-right: 35px;
}

.menu {
    /* top: 62px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute; */
    text-decoration: none;
}


.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 70px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
}

.menu__link:hover {
    color:#8F00FF;
}

.contacts {
    text-align: right;
    /* position: absolute; */
    /* right: 0px;
    top: 52px; */
    font-style: normal;
}

.contacts__phone {
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__chart {
    font-size: 13px;
    text-decoration: underline;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hello {
    /* margin-bottom: 191px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 484px;
    width: 55%;
}

/* .container {
    width: 100%;
}  */

.hello__container {
    width: 100%;
}

 .helo__title {
       font-size: 60px;
       font-weight: bold;
       line-height: 1.1;
       margin-bottom: 18px;
       /* display: inline-block;
       width: min-content; */
   }

   .hello__text {
       font-size: 21px;
       margin-bottom: 74px;
   }

   .buttom {
       border-radius: 4px;
       font-weight: bold;
       text-transform: uppercase;
         padding: 17px 39px;
       display: inline-block;
       font-size: 14px;
       border: 1px solid transparent;
   }

   .buttom--main {
       background: #8F00FF;
       border-color:#8F00FF;
   }

   .offers {
       margin-bottom: 121px;
   }

   .title {
       font-size: 36px;
       font-weight: bold;
       margin-bottom: 45px;
   }
   
   .title__new:after {
       content: "" ;
       background-image: url(./img/Vector.png);
       height: 42px;
       width: 42px;
       vertical-align: middle;
       margin-left: 13px;
       display: inline-block;  
   }

   .offers__item {
       min-height: 449px;
       display: inline-block;
       border-radius: 4px;
       margin-right: 22px;
       width: 362px;
       background: #fff;
       color:#303030;
       vertical-align: top;
       margin-top: 18px;
   }

   .offers__item:last-child {
       margin-right: 0;
   }

   .offers__header {
       height: 144px;
   }

   .offers__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
   }

   .offers__content {
       padding: 19px 24px;
   }

   .offers__title {
       font-size: 24px;
       font-weight: bold;
       margin-bottom: 19px;
   }

   .offers__features {
       margin-bottom: 20px;
   }

   .offers__feature {
       display: inline-block;
       vertical-align: top;
       margin-right: 50px;
   }

    .offers__feature:last-child {
       margin-right: 0;
   }

    .offers__feature-text {
        color: #666666;
        display: inline-block;
        transform: translateY(-23%);
    }

    .offers__text {
        font-size: 14px;
        margin-bottom: 31px;
    }

    .buttom--light {
        padding: 17px 28px;
        color: #8F00FF; 
        border-color: #8F00FF;
    }

    .buttom--light:hover {
        border-color:#8F00FF;
        background: #8F00FF;
         color: #fff;
    }

    .buttom--light--active {
        padding: 17px 28px;
        background: #8F00FF; 
        border-color:transparent;
        color: #ffffff;
    }

    .events__list {
        margin-bottom: 57px;
    }

    .events__item {
        width: 555px;
        display: inline-block;
        vertical-align: top;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }

    .events__img {
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-left: 21px;
    }

    .events__content{
        position: absolute;
        left: 29px;
        right: 13px;
        bottom: 0;
        min-height: 140px;
    }

    .events__text {
        font-size: 14px;
        margin-bottom: 12px;
        display: inline-block;
    }

    .events__title {
        font-size: 24px;
        font-weight: bold;
        /* margin-bottom: 5px; */
    }

    .events__element {
        margin-bottom: 0;
    }

    .pagination {
        text-align: center;
    }

    .pagination__info, .pagination__list {
        display: inline-block;
        /* vertical-align: middle; */
    }

    .pagination__list {
        margin-bottom: 103px;
    }

    .pagination__info {
        margin-right: 21px;
    }

    .pagination__item {
        display: inline-block;
        margin-right: -3px;
    }

    .pagination__item--active .pagination__number {
        background: #8F00FF;
    }

    .pagination__number {
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        text-decoration: none;
        font-weight: bold;
        line-height: 32px;
    }

    .story {
        margin-bottom: 63px;
    }

    .story__about:before, .story__info {
        display: inline-block;
        vertical-align: top;
    }

    .story__about:before {
        margin-top: 36px;
        content: "";
        width: 489px;
        height: 505px;
        background: url(./img/kviz_pliz__nizhnii_novgorod_1_qg_large\ 1.png) center center / cover no-repeat;
    }

    .story__info {
        content: "";
        background: url(./img/Rectangle\ 10.png);
        width: 785px;
        height: 452px;
        padding: 71px 78px;
        margin-left: -139px;
        margin-top: 130px;
        /* left: 738px;
        top: 2250px; */
    }

    .story__title {
        font-weight: bold;
        font-size: 36px;
        margin-bottom: 40px;
    }

    .story__text {
        margin-bottom: 86px;
    }

    .story__text p {
        margin-bottom: 20px;
    }

    .story_text p:last-child {
        margin-bottom: 0;
    }

    .buttom--story{
        border-color: #fff;
    }

    .footer {
        position: relative;
        width: 1150px;
        margin: 0 auto; 
        height: 152px;
    }

    .footer__container {
        border-top: 1px solid #ffffff;
    }

    .footer--menu {
        top: 52px;
        left: 50%;
        transform: translateX(-95%);
        position: absolute;
        text-decoration: none;
    }

    .socials {
        top: 48px;
        right: 263px;
        position: absolute;
    }

    .contacts__elements {
    color:#9A9A9A;
    font-size: 11px;
    }

    .contacts__element {
        font-size: 26px;
    }

    .socials__link {
        display: block;
        width: 36px;
    }

    .socials__item {
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
    }

    .socials__item:last-child{
        margin-right: 0;
    }

    .footer--logo {
        display: block;
        position: absolute;
        top: 51px;
        left: 10px;
    }

    .footer--contacts {
        text-align: right;
        position: absolute;
        right: 4px;
        top: 45px;
        font-style: normal;
    }