* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: "open sans", helvetica, sans-serif;
    background:#17191C;
    color:#FFFFFF;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
   
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
}

.wrapper {
display: flex;
flex-direction: column;
min-height: 100%;
overflow: hidden;
min-width: 1200px;
}

.main-page-wrapper {
    background: url("../img/nbgB77C1HAg\ 1\ \(1\).png") center top 0px no-repeat, url("../../img/56278948-888x544\ 2.png") right bottom 150px no-repeat;
}

/* .wrapper__content {
    width: 1140px;
    margin: 0 auto; 
} */

.wrapper-container {
    width: 1140px;
    margin: 0 auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-wrapper {
    background: url("../img/nbgB77C1HAg\ 1\ \(1\).png") center top 0px no-repeat; 
}

.top-line {
    min-height: 415px;
    display: flex;
    flex-direction: column;
    padding-bottom: 26px;
}

 .top-container { 
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.page-title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 96px;
}
.page-content {
    background: #F2F2F2;
    color: #303030;
    padding: 40px 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}