.contacts {
    text-align: right;
    font-style: normal;
    /* display: flex;
    flex-direction: column; */
}

.contacts__phone {
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__chart {
    font-size: 13px;
    text-decoration: underline;
    position: relative;
}

.contacts__elements {
    color:#9A9A9A;
    font-size: 11px;
    }

    .contacts__element {
        font-size: 26px;
    }

    .contacts__schedule-wrap:hover {
        color: red;
        cursor: pointer;
        position: relative;
    }               

    .contacts__schedule-wrap {
        /* margin-bottom: 0px; */
    }

    .contacts__schedule-wrap:hover .dropdown {
        opacity: 0.8;
    }

    .dropdown {
        padding: 24px 20px 15px;
        background: #EDEDED;
        opacity: 0;
        border-radius: 4px;
        color: #1E1F20;
        position: absolute;
        top: 156%;
        font-weight: 600;
    }

    .dropdown:after {
        content:'' ;
        position: absolute;
        border: 20px solid transparent;
        border-bottom-color: #EDEDED ;
        border-top-width: 0px;
        top: -15px;
        right: 15px;
        left: 110px;
        opacity: 1;
        transition: opacity 1s;
    }

    .dropdown__days {
        font-weight: bold;
        font-size: 13px;
    }

    .dropdown__time {
        font-size: 13px;
        right: 9px;
        position: relative;
    }

    .dropdown:before {
        content: '';
        height: 30px;
        width: 100%;
        position: absolute;
        top: -30px;
        left: 33;
    }

