.contacts {
    text-align: right;
    font-style: normal;
}

.contacts__phone {
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__chart {
    font-size: 13px;
    text-decoration: underline;
}

.contacts__elements {
    color:#9A9A9A;
    font-size: 11px;
    }

    .contacts__element {
        font-size: 26px;
    }