.footer {
    height: 127px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.footer__container-content {
    border-top: 1px solid #ffffff;
}

.footer--menu {
    text-decoration: none;
    display: block;
    margin-left: 20px;
}

.footer--logo {
    display: block;
    margin-right: 43px;
}