.footer {
    width: 1150px;
    margin: 0 auto; 
    height: 80px;
}

.footer-section {
    border-top: 1px solid #ffffff;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}