.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__list {
    display: flex;
    align-items: center;
  }

  .pagination__info {
      margin-right: 21px;
  }

  .pagination__item {
     text-align: center;
  }

  .pagination__item--active .pagination__number {
      background: #8F00FF;
  }

  .pagination__number {
      display: block;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      text-decoration: none;
      font-weight: bold;
      line-height: 32px;
  }