.services {
    margin-bottom: 106px;
}

.service {
    display: flex;
    margin-bottom: 47px;
} 

.service__img {
    width: 40%;
    margin-right: 5%;
    flex-shrink: 0;
    height: 333px;
    width: 460px;
}

.service__img-elem {
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

.service__content {
    flex: 1;
}

.service__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
}

.service__desc {
    line-height: 27px;
    margin-bottom: 49px;
    max-width: 627px;     
}